<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="0.9.1" targetFramework="net461" />
  <package id="CacheManager.Microsoft.Extensions.Configuration" version="0.9.1" targetFramework="net461" />
  <package id="CacheManager.Serialization.Json" version="0.9.1" targetFramework="net461" />
  <package id="CacheManager.StackExchange.Redis" version="0.9.1" targetFramework="net461" />
  <package id="CacheManager.SystemRuntimeCaching" version="0.9.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="StackExchange.Redis.StrongName" version="1.1.605" targetFramework="net461" />
</packages>